.slideritem{
    border: 2px solid white;
  }
  .carousel{
    display: inline-block !important;
  }
  
  
  
  .slider-container{
      background-color: #000;
      background-image: linear-gradient(0deg, rgba(44,73,154,0.7)0%, rgba(44,73,154,0.7)100%), url("../assets/oterhs/subscrube.jpg");
      background-position: center;
      background-size: cover;
  }
  @media (max-width: 768px) {
    .carousel .control-arrow {
      display: none;
    }
  }