* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

:root {
  --fontsizeh1: 70px;
  --fontsizeh2: 36px;
  --fontsizeh3: 28px;
  --fontsizeh3: 25px;
  --fontsizespan: 60px;
  --colorspan: #2c4a9a;
  --font-family-titles: "Montserrat", sans-serif;
  --font-family-body: "Montserrat", sans-serif;
  --font-weight-titles: 500;
  --font-weight-body: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-titles);
  text-transform: uppercase;
}

/* Floating section */

/* MENU HAMBURGER */

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  z-index: 99;
  background-color: #2c4a9a;
  border-radius: 50%;
  width: 55px;
  padding: 5px;
}

.ham span.br {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 32px;
  margin: 7px auto;
  border-radius: 2px;
}

/*buttons colors*/

.button-light {
  font-size: 18px;
  padding: 21px 42px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid;
  font-weight: bold;
  margin: auto 20px;
  min-width: 250px;
  text-decoration: none;
}
.button-light:hover {
  background-color: #fff;
  color: #ffed00;
  border-color: #fff;
}

/*navbar style*/

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  padding: 20px 20px;
}

.navbar img.logo {
  width: 250px;
}

.logo-header {
  width: 100%;
  max-width: 700px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  overflow-x: hidden;
  gap: 20px;
}

.nav-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #fff;
  transition: opacity 500ms ease-in;
}

.nav-link:hover::before {
  opacity: 1;
}
nav.scroll .nav-link::before {
  background-color: #2c4a9a;
}

.conteiner-opening {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url();
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-opening {
  text-align: center;
}
.text-opening h1 {
  font-size: var(--fontsizeh1);
  color: #000;
  text-transform: uppercase;
}

/* etiquetas */

.etiquetas {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 96px 40px 0px 40px;
}

.etiquetas-info {
  font-size: 60px;
  color: #2c4a9a;
  text-align: center;
}

.etiquetas-titulo {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.let-us-maintain {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 96px 0;
}

.let-us-maintain-item {
  width: 50%;
  padding: 20px 40px;
  text-align: center;
}
.let-us-maintain-item img {
  width: 100%;
  filter: brightness(0.9);
}
.let-us-maintain-item p {
  padding: 30px 0px;
  font-size: 20px;
  line-height: 32px;
}
.let-us-maintain-item h2 {
  padding: 30px 0 0 0;
  color: #2c4a9a;
  font-size: 36px;
}

.button-blue {
  font-size: 18px;
  padding: 21px 42px;
  border-radius: 10px;
  color: #2c4a9a;
  border: 2px solid;
  font-weight: bold;
  text-decoration: none;
}
.button-blue:hover {
  background-color: #2c4a9a;
  color: #ffed00;
  border-color: #2c4a9a;
}

/*SERVICES*/

.service-h2 {
  text-align: center;
  font-size: var(--fontsizeh2);
  color: #fff;
  margin-bottom: 20px;
}
.services-section {
  padding: 96px 40px;
  background-image: linear-gradient(
      0deg,
      rgba(44, 73, 154, 0.7) 0%,
      rgba(44, 73, 154, 0.7) 100%
    ),
    url("../assets/oterhs/service.jpg");
  background-size: cover;
}

.services {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  height: 100%;
  margin: auto;
}

.service-item {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 250px;
  overflow: hidden;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}
.service-item:hover .hover-item {
  transform: translateY(-250px);
  transition: all 1s ease-in-out;
}

.img-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-number {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-item {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  text-align: center;
  max-width: 250px;
}
.hover-item img {
  margin-top: 60px;
  width: 80px;
  height: 100%;
}
.hover-item h2 {
  font-size: 16px;
  max-width: 250px;
  color: #fff;
  font-weight: bold;
  padding: 0 20px;
}
.item-number {
  margin: 60px;
}

/* SERVICES POPUP */

.service-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.popup-text {
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  overflow-y: scroll;
  padding: 40px;
  position: relative;
}

.service-popup h2 {
  color: #2c4a9a;
  font-size: var(--fontsizeh2);
  margin: 25px;
  text-align: center;
}
.service-popup h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

.service-popup ul {
  margin: 25px;
  padding: 25px;
}

.hidden {
  display: none;
}
.service-popup img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

/* Features */

.container-features {
  padding: 96px 15px;
  max-width: 1000px;
  margin: auto;
}

.title-features {
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.title-features h2 {
  font-size: var(--fontsizeh2);
  color: #000;
}

.text-features p {
  text-align: justify;
  margin: auto;
}

/* TIMELINE */

.features {
  position: relative;
  margin: 0;
  padding: 32px 0;
  list-style: none;
}

.features::before {
  content: "";
  height: 100%;
  top: 0;
  left: 50%;
  background-color: #000;
  width: 3px;
  position: absolute;
}
@media (max-width: 467px) {
  .features::before {
    height: 100%;
  }
  .cell {
    width: 50% !important;
    padding: 0 20px !important;
  }
  li.item-features {
    display: flex;
    position: relative;
    /* padding: 0 30px 20px 10px; */
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: center;
  }
}

li.item-features {
  display: flex;
  position: relative;
  /* padding: 0 30px 20px 10px; */

  align-items: center;
}

li.item-features:before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #2c4a9a;
  position: absolute;
  right: calc(50% - 11px);
}

.cell {
  width: 50%;
  padding: 0 50px;
}
.features-left {
  transition: all 0.5s;
}

.animado-left {
  animation: 2s linear animado-left;
  animation-iteration-count: 1;
}

.features-right {
  transition: all 0.5s;
}

.animado-right {
  animation: 2s linear animado-right;
  animation-iteration-count: 1;
}

.cell:first-child {
  text-align: right;
}

.cell p {
  text-align: inherit;
}

.img-valor {
  width: 100px;
  filter: grayscale(0);
}

/* before/after subscribing*/

/* SLIDER STYLES */

a.link-portfolio:hover ul li button.light {
  background-color: #fff;
  color: #33ffbb;
}
div.swiffy-slider {
  position: relative;
  width: 50%;
  margin: auto;
}

h2.portfolio-title {
  color: #fff;
  text-align: center;
}

section.portfolio2 {
  background-color: #000;
  background-image: linear-gradient(
      0deg,
      rgba(44, 73, 154, 0.7) 0%,
      rgba(44, 73, 154, 0.7) 100%
    ),
    url("../assets/oterhs/subscrube.jpg");
  background-position: center;
  background-size: cover;
  padding: 96px 0;
  display: flex;
}

ul.slider-container {
  max-height: 400px;
  overflow-y: hidden;
}

.portfolio-img {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  max-height: 400px;
  align-items: center;
}
.portfolio-img img {
  max-width: 50%;
}

.portfolio-description {
  padding: 0px 80px;
  list-style: none;
  text-align: center;
  width: 100%;
}

.portfolio-img li.item-number {
  margin: auto;
}

.step {
  padding: 25px;
  font-size: var(--fontsizeh3);
}

.portfolio-description p {
  text-align: justify;
  margin: 25px;
}

#step_button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
div.slider-indicators {
  bottom: -5rem;
}

div.swiffy-slider {
  margin: 0px auto;
}

/* Why Choose Us Section */
section.us {
  background-image: url("../assets/oterhs/bg.png");
  background-size: cover;
  height: 80vh;
  
 
}
@media (max-width: 768px) {
  section.us {
    background-image: none;
    margin-bottom: 200px;
  }
}
div.choose-us {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.choose-us h2 {
  font-size: var(--fontsizeh2);
  margin-bottom: 50px;
}


.choose-us img {
  height: 70px;
  margin-bottom: 20px;
}

.choose-us h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.choose-us p {
  font-size: 18px;
  max-width: 300px;
  margin: auto;
}

/* FOOTER */

.footer-link {
  color: #000000;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}

/* Footer Styles */
footer {
margin: auto !important;
}
.footer-title{
  color: #000000  !important;

}

.logo-footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.logo-footer img {
  width: 250px;
  margin-right: 30px;
}

@media (max-width: 468px) {
  .logo-footer {
    margin: auto;
    text-align: center;
    display: block;
    padding: 20px;
    align-items: center;

  }
  .logo-footer img {
  width: initial;
   
  }
}

.links-footer img {
  width: 30px;
}

/* choose your region */

/* Corporate Offices */

#region-select {
  width: 90%;
}

#address-fields {
  display: none;
  width: 90%;
}

#address-fields p {
  color: #000;
  font-size: 17px;
  padding: 13px;
  font-weight: bold;
  text-align: start;
}

#adress-fields span {
  font-weight: 400;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

form img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

/* Sales Contact */

.sales-contact {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 520px;
  margin: auto;
  padding: 40px 20px 0px 20px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #a4a3a3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
}

#contry-contact,
#country-option {
  width: 92%;
}

#content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#content p {
  padding: 15px 0px;
}


/* for indvidual table css */
@media (max-width: 640px) {
  .table {
    table-layout: auto;
  }

  .table th,
  .table td {
    white-space: normal;
  }
}
/* for carousal */
.carousel-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: rgb(44, 42, 42);

}

/* hamburger css */

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #000000;
  color: #fff;
  z-index: 100;
  overflow-y: auto;
}

.sidebar-content {
  max-width: 100%;
  padding: 15px;
}

.sidebar-link {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}

.sidebar-link:hover {
  background-color: #ffffff;
  color: #000;
}

.sidebar-link-text {
  font-size: 18px;
  font-weight: bold;
}
/* card */
